<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <title>File Upload</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Image Upload</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/images">Images</a></li>
            <li class="active">
              <a href="/">Upload an image</a>
            </li>
            <!-- <li class="active"><a href="/users">Admin</a></li> -->
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/logout"
                ><span class="glyphicon glyphicon-user"></span> Logout</a
              >
            </li>
          </ul> -->
        </div>
      </div>
    </nav>
    
    <%for(i=0;i<data.length;i++){%>
        <div style="display: inline-block;">
            <h6>Uploaded by: <%=data[i].user_given_name%> </h6>
            <img style="height: 200px; width: 200px;" src="<%=data[i].path%>" alt="<%=data[i].image_name%>" />
        </div>
        
    <%}%>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>
